<a href="https://colab.research.google.com/github/renatamontanhana/Sistema_de_Recomendacao_de_Livros/blob/main/Sistema_de_Recomenda%C3%A7%C3%A3o_de_Livros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTK4gQ9nhwHHaSXMHpeggWg7twwMCgb877smkRmtkmDeDoGF9Z6&usqp=CAU)
# <font color='Blue'> Ciência dos Dados na Prática</font>

![](https://thumbs.gfycat.com/PoliticalMindlessBanteng-small.gif)

![](https://i.gifer.com/AgN4.gif) ![](https://thumbs.gfycat.com/IdealisticUnnaturalAfricangoldencat-max-1mb.gif) ![](https://d1pkzhm5uq4mnt.cloudfront.net/imagens/capas/c3d5f7a1b2ed4261d4bdfdabe795cdf5bb8bf58d.jpg)

# Sistemas de Recomendação

![](https://img.icons8.com/emoji/452/books-emoji.png)

Cada empresa de consumo de Internet precisa um sistema de recomendação como **Netflix**, **Youtube**, **feed de notícias**, **Site de Viagens e passagens Aéreas**, **Hotéis**, **Mercado livre**, **Magalu**, **Olist**, etc. O que você deseja mostrar de uma grande variedade de itens é um sistema de recomendação.

## O que realmente é o Sistema de Recomendação?

Um mecanismo de recomendação é uma classe de aprendizado de máquina que oferece sugestões relevantes ao cliente. Antes do sistema de recomendação, a grande tendência para comprar era aceitar sugestões de amigos. Mas agora o Google sabe quais notícias você vai ler, o Youtube sabe que tipo de vídeos você vai assistir com base em seu histórico de pesquisa, histórico de exibição ou histórico de compra.

Um sistema de recomendação ajuda uma organização a criar clientes fiéis e construir a confiança deles nos produtos e serviços desejados para os quais vieram em seu site. Os sistemas de recomendação de hoje são tão poderosos que também podem lidar com o novo cliente que visitou o site pela primeira vez. Eles recomendam os produtos que estão em alta ou com alta classificação e também podem recomendar os produtos que trazem o máximo de lucro para a empresa.

Um sistema de recomendação de livros é um tipo de sistema de recomendação em que temos que recomendar livros semelhantes ao leitor com base em seu interesse. O sistema de recomendação de livros é usado por sites online que fornecem e-books como google play books, open library, good Read's, etc.

# 1° Problema de Negócio

Usaremos o método de **filtragem baseada em colaboração** para construir um sistema de recomendação de livros. Ou seja, precisamos construir uma máquina preditiva que, **com base nas escolhas de leituras de outras pessoas, o livro seja recomendado a outras pessoas com interesses semelhantes.**

Ex:

**Eduardo** leu e gostou dos livros A loja de Tudo e Elon Musk.

**Clarice** também leu e gostou desses dois livros

![](https://d1pkzhm5uq4mnt.cloudfront.net/imagens/capas/c3d5f7a1b2ed4261d4bdfdabe795cdf5bb8bf58d.jpg)![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpahWGbsRS5_E16Ad8nrh5897oVznxv-hX6SLyJlyOvjDpQnlDUQZTPGqfS_a7qX7Z7gg&usqp=CAU)

Agora o **Eduardo** leu e gostou do livro "StartUp de U$100" que não é lido pela **Clarice**.

![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzauvLe3kPPG_TkgiPhy51rAXzXbj46SKDSMbchCyKB12pTcNZBSn8KfxIgrgHA-YN56k&usqp=CAU)


Então **temos que recomendar o livro **"StartUp de U$100" para **Clarice**

## **Resultado**

   Você concorda que se vc receber uma recomendação certeira, a chance de vc comprar o livro é muito maior?

   Vc concorda que se mais pessoas comprarem, maior será o faturamento da empresa?

   Vc concorda que os clientes vão ficar muito mais satisfeitos se o site demonstrar que conhece ela e que realmente só oferece produtos que realmente são relevantes p ela?

# 2° Análise Exploratória dos Dados

In [1]:
#Importação das Bibliotecas ou Pacotes
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

Fonte de Dados:

https://www.kaggle.com/rxsraghavagrawal/book-recommender-system

#### Base de Livros

In [17]:
# Importação dos Dados Referentes aos Livros
books = pd.read_csv("/content/BX-Books.csv", sep=';', encoding="latin-1", error_bad_lines= False)

<ipython-input-17-06680ffbdcb4>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv("/content/BX-Books.csv", sep=';', encoding="latin-1", error_bad_lines= False)
Skipping line 6443: expected 8 fields, saw 9
Skipping line 7483: expected 8 fields, saw 12
Skipping line 11169: expected 8 fields, saw 9
Skipping line 26038: expected 8 fields, saw 12
Skipping line 33431: expected 8 fields, saw 11
Skipping line 40829: expected 8 fields, saw 14
Skipping line 48257: expected 8 fields, saw 9
Skipping line 55638: expected 8 fields, saw 10

Skipping line 69890: expected 8 fields, saw 9
Skipping line 77803: expected 8 fields, saw 9
Skipping line 80480: expected 8 fields, saw 10
Skipping line 85136: expected 8 fields, saw 15
Skipping line 95923: expected 8 fields, saw 9
Skipping line 96196: expected 8 fields, saw 13
Skipping line 96901: expected 8 fields, saw 9
Skipping line 103554: expected 8 fields, saw 10
Skipping line 114557: expected 8 fields, saw 12
Skipping line 118243: expected 8 fields, saw 9
Skipping line 121903: expected 8 fields, saw 9
Skipping line 129141: expected 8 fields, saw 9
Skipping line 129287: expected 8 fields, saw 13

Skipping line 136671: expected 8 fields, saw 9
Skipping line 147776: expected 8 fields, saw 9
Skipping line 155120: expected 8 fields, saw 13
Skipping line 162439: expected 8 fields, saw 13
Skipping line 169791: expected 8 fields, saw 9
Skipping line 173447: expected 8 fields, saw 10
Skipping line 176568: expected 8 fields, saw 9
Skipping line 177187: expected 8 fields, saw 9
Skipping line 187602: expected 8 fields, saw 9
Skipping line 188106: expected 8 fields, saw 14

Skipping line 201300: expected 8 fields, saw 9
Skipping line 202775: expected 8 fields, saw 9
Skipping line 203480: expected 8 fields, saw 9
Skipping line 206460: expected 8 fields, saw 11
Skipping line 213765: expected 8 fields, saw 13
Skipping line 228355: expected 8 fields, saw 11
Skipping line 235535: expected 8 fields, saw 9
Skipping line 235681: expected 8 fields, saw 10
Skipping line 239347: expected 8 fields, saw 9
Skipping line 246359: expected 8 fields, saw 9
Skipping line 254136: expected 8 fields, saw 9
Skipping line 259310: expected 8 fields, saw 9
Skipping line 261487: expected 8 fields, saw 11

Skipping line 268785: expected 8 fields, saw 12
Skipping line 276064: expected 8 fields, saw 11
Skipping line 283429: expected 8 fields, saw 9
Skipping line 290670: expected 8 fields, saw 12
Skipping line 293836: expected 8 fields, saw 9
Skipping line 294340: expected 8 fields, saw 10
Skipping line 301605: expected 8 fields, saw 12
Skipping line 304885: expected 8 fields, saw 9
Skipping line 307435: expected 8 fields, saw 9
Skipping line 308910: expected 8 fields, saw 9
Skipping line 312556: expected 8 fields, saw 11
Skipping line 319864: expected 8 fields, saw 13
Skipping line 327097: expected 8 fields, saw 9
Skipping line 327160: expected 8 fields, saw 9

Skipping line 334453: expected 8 fields, saw 11
Skipping line 341700: expected 8 fields, saw 11
Skipping line 341739: expected 8 fields, saw 10
Skipping line 345405: expected 8 fields, saw 9
Skipping line 346390: expected 8 fields, saw 10
Skipping line 352356: expected 8 fields, saw 9
Skipping line 356357: expected 8 fields, saw 9
Skipping line 365179: expected 8 fields, saw 9
Skipping line 370986: expected 8 fields, saw 10
Skipping line 378054: expected 8 fields, saw 9
Skipping line 381899: expected 8 fields, saw 15
Skipping line 389174: expected 8 fields, saw 13
Skipping line 390667: expected 8 fields, saw 9

Skipping line 406607: expected 8 fields, saw 9
Skipping line 410698: expected 8 fields, saw 9
Skipping line 411836: expected 8 fields, saw 9
Skipping line 414679: expected 8 fields, saw 12
Skipping line 425615: expected 8 fields, saw 14
Skipping line 432565: expected 8 fields, saw 9
Skipping line 439872: expected 8 fields, saw 11
Skipping line 440896: expected 8 fields, saw 10
Skipping line 457872: expected 8 fields, saw 9

Skipping line 463235: expected 8 fields, saw 9
Skipping line 471880: expected 8 fields, saw 9
Skipping line 473468: expected 8 fields, saw 9

<ipython-input-17-06680ffbdcb4>:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("/content/BX-Books.csv", sep=';', encoding="latin-1", error_bad_lines= False)

In [19]:
books

                                                                                                                                                                                                                                                    zon.com/images/P/325723161X.01.LZZZZZZZ.jpg"
0007163541 The Bride Stripped Bare                            Anonymous           2004 Perennial                                        http://images.amazon.com/images/P/0007163541.01... http://images.amazon.com/images/P/0007163541.01...  http://images.amazon.com/images/P/0007163541.0...
3257062273 Was machen wir jetzt?: Roman                       Doris DÃ¶rrie       1999 Diogenes                                         http://images.amazon.com/images/P/3257062273.01... http://images.amazon.com/images/P/3257062273.01...  http://images.amazon.com/images/P/3257062273.0...
3442729734 Der Gesang der Wellen.                             Manuel Vicent       2002 Btb Bei Goldmann                                 http://images.amazon.com/images/P/3442729734.01... http://images.amazon.com/images/P/3442729734.01...  http://images.amazon.com/images/P/3442729734.0...
3499232839 Im falschen Licht.                                 Carlo SchÃ?Â¤fer    2002 Rowohlt Tb.                                      http://images.amazon.com/images/P/3499232839.01... http://images.amazon.com/images/P/3499232839.01...  http://images.amazon.com/images/P/3499232839.0...
0380799685 David Brin's Out of Time: Yanked! (David Brin's... Nancy Kress         1999 Avon Books                                       http://images.amazon.com/images/P/0380799685.01... http://images.amazon.com/images/P/0380799685.01...  http://images.amazon.com/images/P/0380799685.0...
...                                                                                                                                                                                                                                                                                          ...
0440400988 There's a Bat in Bunk Five                         Paula Danziger      1988 Random House Childrens Pub (Mm)                  http://images.amazon.com/images/P/0440400988.01... http://images.amazon.com/images/P/0440400988.01...  http://images.amazon.com/images/P/0440400988.0...
0525447644 From One to One Hundred                            Teri Sloat          1991 Dutton Books                                     http://images.amazon.com/images/P/0525447644.01... http://images.amazon.com/images/P/0525447644.01...  http://images.amazon.com/images/P/0525447644.0...
006008667X Lily Dale : The True Story of the Town that Tal... Christine Wicker    2004 HarperSanFrancisco                               http://images.amazon.com/images/P/006008667X.01... http://images.amazon.com/images/P/006008667X.01...  http://images.amazon.com/images/P/006008667X.0...
0192126040 Republic (World's Classics)                        Plato               1996 Oxford University Press                          http://images.amazon.com/images/P/0192126040.01... http://images.amazon.com/images/P/0192126040.01...  http://images.amazon.com/images/P/0192126040.0...
0767409752 A Guided Tour of Rene Descartes' Meditations on... Christopher  Biffle 2000 McGraw-Hill Humanities/Social Sciences/Languages http://images.amazon.com/images/P/0767409752.01... http://images.amazon.com/images/P/0767409752.01...  http://images.amazon.com/images/P/0767409752.0...

[483235 rows x 1 columns]

#### Base de Usuários

In [20]:
# Importação dos Dados Referentes aos Usuários
users = pd.read_csv("/content/BX-Users.csv", sep=';', encoding="latin-1", error_bad_lines= False)

<ipython-input-20-5c3fd2991a3b>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv("/content/BX-Users.csv", sep=';', encoding="latin-1", error_bad_lines= False)

In [21]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

#### Base de Ratings

In [22]:
# Importação dos Dados Referentes aos Ratings dados aos Livros (Avaliação do Usuário em relação ao Livro)
ratings = pd.read_csv("/content/BX-Book-Ratings.csv", sep=';', encoding="latin-1", error_bad_lines= False)

<ipython-input-22-df36bb5d8075>:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv("/content/BX-Book-Ratings.csv", sep=';', encoding="latin-1", error_bad_lines= False)

In [23]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

# 3° Pré-Processamento dos Dados

### Renomeando Colunas

Agora, no arquivo de livros, temos algumas colunas extras que não são necessárias para nossa tarefa, como URLs de imagens. E vamos renomear as colunas de cada arquivo, pois o nome da coluna contém espaço e letras maiúsculas, então faremos as correções para facilitar o uso.

In [ ]:
# Rename de Colunas
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
books.rename(columns = {'Book-Title':'title', 'Book-Author':'author', 'Year-Of-Publication':'year', 'Publisher':'publisher'}, inplace=True)
users.rename(columns = {'User-ID':'user_id', 'Location':'location', 'Age':'age'}, inplace=True)
ratings.rename(columns = {'User-ID':'user_id', 'Book-Rating':'rating'}, inplace=True)

In [ ]:
books

In [ ]:
#Quantidade de Ratings por Usuários
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: user_id, Length: 105283, dtype: int64

In [ ]:
# Livros que tenham mais de 200 avaliações
x = ratings['user_id'].value_counts() > 200

In [ ]:
x

In [ ]:
# Quantidade Usuários
# user_ids
y = x[x].index
print(y.shape)

(899,)

In [ ]:
y

#### *Decisão de Negócio*

In [ ]:
# Trazendo ratings somente dos usuários q avaliaram mais de 200 livros
ratings = ratings[ratings['user_id'].isin(y)]

In [ ]:
ratings

In [ ]:
# Juntando tabelas (Join ou Merge)
rating_with_books = ratings.merge(books, on='ISBN')
rating_with_books.head()

   user_id        ISBN  ...  year                  publisher
0   277427  002542730X  ...  1994  John Wiley &amp; Sons Inc
1     3363  002542730X  ...  1994  John Wiley &amp; Sons Inc
2    11676  002542730X  ...  1994  John Wiley &amp; Sons Inc
3    12538  002542730X  ...  1994  John Wiley &amp; Sons Inc
4    13552  002542730X  ...  1994  John Wiley &amp; Sons Inc

[5 rows x 7 columns]

In [ ]:
#Quantidade de rating dos livros
number_rating = rating_with_books.groupby('title')['rating'].count().reset_index()

In [ ]:
number_rating

In [ ]:
#Renomeando coluna
number_rating.rename(columns= {'rating':'number_of_ratings'}, inplace=True)
number_rating

                                                    title  number_of_ratings
0        A Light in the Storm: The Civil War Diary of ...                  2
1                                   Always Have Popsicles                  1
2                    Apple Magic (The Collector's series)                  1
3        Beyond IBM: Leadership Marketing and Finance ...                  1
4        Clifford Visita El Hospital (Clifford El Gran...                  1
...                                                   ...                ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...                  3
160265                                      Ã?Â?lpiraten.                  1
160266                     Ã?Â?rger mit Produkt X. Roman.                  1
160267                              Ã?Â?stlich der Berge.                  1
160268                                  Ã?Â?thique en toc                  1

[160269 rows x 2 columns]

In [ ]:
# Juntando a tabela de livros com os Ratings com a tabela de quantidade de ratings por livro
final_rating = rating_with_books.merge(number_rating, on='title')
final_rating

        user_id  ... number_of_ratings
0        277427  ...                82
1          3363  ...                82
2         11676  ...                82
3         12538  ...                82
4         13552  ...                82
...         ...  ...               ...
487666   275970  ...                 1
487667   275970  ...                 1
487668   275970  ...                 1
487669   275970  ...                 1
487670   275970  ...                 1

[487671 rows x 8 columns]

#### *Decisão de Negócio*

In [ ]:
# Filtrar somente livros que tenham pelo menos 50 avaliações
final_rating = final_rating[final_rating['number_of_ratings'] >= 50]
final_rating.shape

(61853, 8)

In [ ]:
# Vamos descartar os valores duplicados, porque se o mesmo usuário tiver avaliado o mesmo livro várias vezes, isso pode dar rúim.
final_rating.drop_duplicates(['user_id','title'], inplace=True)
final_rating.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(59850, 8)

In [ ]:
final_rating

### Vamos fazer uma parada que é o seguinte:

Vamos transpor os **usuários** em **colunas**, ao invés de linhas, pois as avaliações dadas por eles serão as **variáveis** da máquina preditiva.

In [ ]:
final_rating.info()

In [ ]:
# Transposição de linhas(users_id) em colunas
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values="rating")

In [ ]:
book_pivot

In [ ]:
book_pivot.shape

(742, 888)

In [ ]:
book_pivot.fillna(0, inplace=True)

In [ ]:
book_pivot

user_id                                             254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
84 Charing Cross Road                                  0.0  ...     0.0
...                                                    ...  ...     ...
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
Zoya                                                   0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[742 rows x 888 columns]

Preparamos nosso conjunto de dados para modelagem. Usaremos o algoritmo de vizinhos mais próximos (nearest neighbors algorithm), que é usado para agrupamento com base na **distância euclidiana**.

**Nesta aula explicadim**:

https://www.youtube.com/watch?v=jD4AKp4-Tmo


Mas aqui na tabela dinâmica, temos muitos valores zero e no agrupamento, esse poder de computação aumentará para calcular a distância dos valores zero, portanto, converteremos a tabela dinâmica para a matriz esparsa e, em seguida, alimentaremos o modelo.

In [ ]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

#4° Criação da Máquina Preditiva

https://scikit-learn.org/stable/modules/neighbors.html

In [ ]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')
model.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

## Novas Predições

In [ ]:
#1984
distances, suggestions = model.kneighbors(book_pivot.iloc[0, :].values.reshape(1, -1))

In [ ]:
book_pivot.head()

In [ ]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

Index(['1984', 'No Safe Place', 'A Civil Action', 'Foucault's Pendulum',
       'Long After Midnight'],
      dtype='object', name='title')

In [ ]:
#Hannibal
distances, suggestions = model.kneighbors(book_pivot.iloc[236, :].values.reshape(1, -1))

In [ ]:
book_pivot.head(236)

In [ ]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

In [ ]:
#Harry Potter
distances, suggestions = model.kneighbors(book_pivot.iloc[238, :].values.reshape(1, -1))

In [ ]:
book_pivot.head(238)

In [ ]:
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

#Fim

## Valeu!

### # Onde me Encontrar - Ciência dos Dados <a href="https://linktr.ee/cienciadosdados">https://linktr.ee/cienciadosdados</a>

In [ ]:
from IPython.core.display import HTML
HTML('<iframe width="600" height="330" src="https://www.youtube.com/embed/qwW8AjRqPz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

###### Turismo Espacial

In [ ]:
from IPython.core.display import HTML
HTML('<iframe width="600" height="330" src="https://www.youtube.com/embed/i0sRs_o0Uj8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')

Fonte de Inspiração:

https://www.analyticsvidhya.com/blog/2021/06/build-book-recommendation-system-unsupervised-learning-project/